<nav class="navbar navbar-static-top navbar-sigm hidden-sm-down" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="nav-item active"><a href="{{ relative }}index.html" class="nav-link">Inicio</a></li>
            <li class="nav-item"><a href="https://github.com/ctt-gob-es/SIGM/releases" class="nav-link">Descargas</a>
            </li>
            <li class="nav-item"><a href="https://www.google.com/cse/publicurl?cx=011222684501568148384:i1gr-mg-jas"
                                    class="nav-link">Búsqueda</a></li>
            <li class="nav-item"><a href="{{ relative }}Versiones.html" class="nav-link">Versiones</a></li>
        </ul>
    </div>
</nav>
